.BannerColor{
    background-color: #f06261;
}

.BackgroundColor{
    background-color: #e5e5e5;
}

.lg_panel{
    padding: 10px;
    background-color: #f4f6f6;
    box-shadow: 2px 5px 5px grey;
    height: 80vh;
    width: 100%;
}

.md_panel{
    padding: 10px;
    background-color: #f4f6f6;
    box-shadow: 2px 5px 5px grey;

    height: 62vh;
}

.sm_panel{
    padding: 10px;
    background-color: #f4f6f6;
    box-shadow: 1px 2px 1px grey;
    height: 30vh;
    margin-bottom: 14px;
}
.MenuColor{
    background-color: #3d3b3c;
}

.WhiteColor{
    color:#FFFFFF;
}

.iconRed{
    color: #f06261;
    height: 20px;
    width: 20px;
    margin-left:-30px;
    margin-bottom: 5px;
}

.searchBar{
    background-color: #f4f6f6;
    border:none;
    border-radius: 30px;
    box-shadow: 2px 5px 5px grey;
}
.centerVH{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;  
}

.loadingDiv{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerLogin{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
}

.blurred{
    filter: blur(8px);
}

.fullScreen{
    width: 95%;
    height: 95%;
    position: absolute;
    z-index: 100;
}
.accountName{
    color:#FFFFFF;
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.productItemUnselect{
    margin-right:10px;
    border:0;
    background-color: #f06261;
    color:white;
    border-radius: 30px;
    box-shadow: 2px 2px 5px grey;
    padding:10px;
}

.productItemSelect{
    border:0;
    background-color: white;
    color:#f06261;
    border-radius: 30px;
    box-shadow: 2px 2px 5px grey;
    padding:5px;
}

.customInput{
    background:none;
    border:0;
    border-bottom: 2px #f06261 solid;
}

.leftIcon{
    width: 70%;
}

.profileImage{
    transform: translateY(-50%);
    box-shadow: 2px 2px 5px grey;
}


.customButton{
    background-color: #f06261;
    border:0;
    border-radius: 30px;
    box-shadow: 2px 2px 5px grey;
}

.outline_btn{
    background:none !important;
    border:1px solid #f06261 !important;
    color:#f06261 !important;
}

.outline_btn:hover{
    background-color:#f06261 !important;
    border:1 !important;
    border:1px solid #f06261 !important;
    color:white !important;
}
/* CHAT */

.leftAlignedBox .userBubble{
    border-radius:20px;
    background-color: rgba(240, 98, 97, 0.5);
    font-size: 12px;
    flex:2;
}

.rightAlignedBox .userBubble{
    border-radius:20px;
    background-color: rgba(61, 59, 60, 0.5);
    font-size: 12px;
    flex:2;
}

.leftAlignedBox div,.rightAlignedBox div{
    margin:0 10px;
}

.chatBox{
    margin-bottom: 10px;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 10px;
}

.leftAlignedBox {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.rightAlignedBox {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.scrollableChat{
    height: 80%;
    flex:1;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #F06261 #f4f6f6;
}

.chatInput{
    font-size: 12px;
    border:0;
    border-radius: 5px;
    background-color: #e5e5e5;
    padding: 5px;
    resize: none;
}